<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="\assets\stylesheets\home.css">

</head>
<h1>
    <a class = "button" href="home" role = "button" >Home</a><a class = "button" href="calendar" role = "button" >Calendar</a><a class = "button" href="record" role = "button" >Voice Memo UC</a><a class = "button" href="weather" role = "button" >Weather</a><a class = "button" href="stocks" role = "button" >Stocks</a>
</h1>
<body>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=9t2n7hg28loe6hrevn28rti3fk%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</body>
</html>