<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Voice Memo</title>
    <link rel="stylesheet" href="\assets\stylesheets\recorder.css">
    <link rel="stylesheet" type="text/css" href="assets\.css">
</head>
<body>
<h1>
    <a class = "button" href="home" role = "button" >Home</a><a class = "button" href="calendar" role = "button" >Calendar</a><a class = "button" href="record" role = "button" >Voice Memo UC</a><a class = "button" href="weather" role = "button" >Weather</a><a class = "button" href="stocks" role = "button" >Stocks</a>
</h1>
<h2>

Voice Memo

</h2>

<div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
</div>
<div id="formats">Format: start recording to see sample rate</div>
<h3>Recordings</h3>
<ol id="recordingsList"></ol>

<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="/assets/javascripts/recorder.js"></script>



</body>
</html>