<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="\assets\stylesheets\recorder.css">

</head>
<h2>
    <a class = "button" href="home" role = "button" >Home</a><a class = "button" href="calendar" role = "button" >Calendar</a><a class = "button" href="record" role = "button" >Voice Memo UC</a><a class = "button" href="weather" role = "button" >Weather</a><a class = "button" href="stocks" role = "button" >Stocks</a>



</h2>
<body>
<script type='text/javascript' src='https://darksky.net/widget/default/35.0887,-92.4421/us12/en.js?width=100%&height=350&title=Conway, Arkansas&textColor=333333&bgColor=FFFFFF&transparency=false&skyColor=undefined&fontFamily=Default&customFont=&units=us&htColor=333333&ltColor=C7C7C7&displaySum=yes&displayHeader=yes'></script>

</body>
</html>